* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  font-weight: 600;
}

body {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(222, 104, 169, 1) 34%,
    rgba(253, 29, 29, 1) 70%,
    rgba(252, 176, 69, 1) 100%
  );
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 35em;
  width: 25em;
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  border: 5px solid blueviolet;
}

.screen {
  height: 120px;
  width: 100%;
  background: rgb(0, 0, 0);
  border-radius: 20px 20px 0 0;
  font-size: 50px;
  display: flex;
  justify-content: end;
  align-items: end;
  overflow: hidden;
  padding-bottom: 10px;
}

.keys {
  width: 100%;
  height: calc(100% - 120px);
  background-color: #000000;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.lev {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  height: 70px;
  width: 70px;
  background-color: rgb(49, 49, 49);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  &:hover {
    background-color: rgb(92, 92, 92);
  }
}

.btn-spl {
  width: 160px;
  height: 70px;
  background-color: grey;
  border-radius: 50px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: rgb(87, 87, 87);
  }
}

.color-yel {
  background-color: rgb(181, 134, 6);
  color: black;
  &:hover {
    background-color: rgb(103, 77, 4);
  }
}

.color-grey {
  background-color: grey;
  color: black;
}


.no-select {
    /* Standard property to prevent text selection */
    user-select: none; 

    /* Vendor prefixes for older browser compatibility */
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
}